
$width: 400px;
$round-corner: 6px;
$tile-count: 16;
$tile-padding: 15px;
$tile-size: ($width - $tile-padding * ($tile-count + 1)) / $tile-count;
$colors:  #EEE4DA, // 2
          #EAE0C8, // 4
          #F59563, // 8
          #3399ff, // 16
          #ffa333, // 32
          #cef030, // 64
          #E8D8CE, // 128
          #990303, // 256
          #6BA5DE, // 512
          #DCAD60, // 1024
          #B60022; // 2048

//power() mixin
@function power ($x, $n) {
  $ret: 1;
   @if $n >= 0 {
     @for $i from 1 through $n {
       $ret: $ret * $x;
     }
   } @else {
     @for $i from $n to 0 {
       $ret: $ret / $x;
     }
   }

  @return $ret;
}

body{
  color: #776E65;
  font-family: "Open Sans", "HelveticaNeue", Arial, sans-serif;
  font-size: 18px;
}



#game {
  position: relative;
  width: $width;
  height: $width;
  color: #bbaaa0;
  border-radius: $round-corner;
  box-sizing: border-box;

    .grid-container {
      position: absolute;
      z-index: 1;
      margin: 0 auto;

        .grid-cell {
          width: $tile-size;
          height: $tile-size;
          margin-bottom: $tile-padding;
          margin-right: $tile-padding;
          border-radius: $round-corner / 2;
          background: rgba(238,228,218,.35)
        }
    }

  .tile-container {
    position: absolute;
    z-index: 2;

      .tile {
        width: $tile-size;
        height: $tile-size;
        //Dynamically set the colors based on the number on the tile instance
        @for $i from 1 through length($colors) {
          &.tile-#{power(2, $i)} .tile-inner {
            background: nth($colors, $i)
          }
        }
        //Dynamically create .position-#{x}-#{y} classes to mark where tiles are placed
        @for $x from 1 through $tile-count {
          @for $y from 1 through $tile-count {
            $zeroOffsetX: $x - 1;
            $zeroOffsetY: $y - 1;
            $newX: ($tile-size) * ($zeroOffsetX) + ($tile-padding * $zeroOffsetX);
            $newY: ($tile-size) * ($zeroOffsetY) + ($tile-padding * $zeroOffsetY);

            &.position-#{$zeroOffsetX}-#{$zeroOffsetY} {
              -webkit-transform: translate($newX, $newY);
              transform: translate($newX, $newY);
            }
          }
        }

      }

  }

}